.fundoLogin {
    background-image: url("https://cdn-icons-png.flaticon.com/512/4497/4497773.png");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}